<mat-card class="input-card">

    <section class="entete">
        <img mat-card-avatar
            src="https://secure.download.dm.origin.com/production/avatar/prod/userAvatar/18048778/416x416.JPEG" />alban_fooz_dev
    </section>
    <form (ngSubmit)="creation()">
        <div class="inputCom">
            <mat-form-field>
                <input type="text" id="texteCom" #searchElement matInput placeholder="Votre commentaire"
                    name="commentaire._texteCommentaire" [(ngModel)]="commentaire._texteCommentaire">
            </mat-form-field>
        </div>
        <button mat-button type="submit">Envoyer</button>
    </form>
</mat-card>