.downVote .material-icons{
    color:red;
}
.upVote .material-icons{
    color:#065FD4;
}
.material-icons-outlined{
    color:#909090;
}
.compteurVote{
    color:#909090;
    font-weight: 500; 
}
.ajoutCollaborateur .material-icons{
    color:#909090;
}