<mat-card>
        <section class="entete"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" />Test
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Modifier</button>
                <button mat-menu-item>Supprimer</button>
            </mat-menu>
        </section>
    
        <mat-card-content>t vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
            similique sunt in culpa</mat-card-content>
        <app-bar-icons-idee></app-bar-icons-idee>
    </mat-card>
