img{
    top: 40px;
    left: 0px;
    width: 3%;
    height: auto;
    padding-right: 5px;
    vertical-align:middle;
}
.more-button {
    position: absolute;
    top: 0px;
    right: 0px;
}
app-bar-icons-idee{
    bottom: 0px;
    left: 5px; 
}
mat-card-content{
    padding: 10px;
    }