<div class="topnav-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <a id="home" routerLink="">
        <img id="logo" src="../../../assets/images/logo.svg" alt="Social Idea">
      </a>
      <div fxShow="true" fxHide.lt-md>
        <a mat-button *ngFor="let link of links" routerLink="{{link.url}}" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">{{link.name}}<mat-icon class="material-icons-outlined">
            {{link.icon}}</mat-icon></a>
      </div>

      <app-searchbar></app-searchbar>
      <span class="menu-spacer"></span>
      <app-menu-connexion fxShow="true" fxHide.lt-md posmenu="top"></app-menu-connexion>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <app-menu-connexion posmenu="side"></app-menu-connexion>
        <a mat-list-item *ngFor="let link of links" routerLink="{{link.url}}" routerLinkActive="active">{{link.name}}
          <mat-icon class="material-icons-outlined">
            {{link.icon}}</mat-icon></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>