<div *ngIf="posmenu == 'top'">
    <a mat-button routerLink="/inscription" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Inscription</a>
    <a mat-button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        (click)="testSession()">Connexion</a>
</div>
<div *ngIf="posmenu == 'side'">
    <a mat-list-item routerLink="/inscription" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Inscription</a>
    <a mat-list-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        (click)="testSession()">Connexion</a>
</div>