<mat-card-header>
    <mat-card-title class="myCardTitle" [routerLink]="['/idea', idee._id]" routerLinkActive="router-link-active">
        {{idee._titre}}

    </mat-card-title>
    <mat-card-subtitle class="subtitle-pseudo" [routerLink]="['/profil', idee._originalPosteur._id]"
        routerLinkActive="router-link-active">
        {{idee._originalPosteur._pseudo}}</mat-card-subtitle>
    <div fxFlex>
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Masquer</button>
            <button mat-menu-item>Test</button>
        </mat-menu>
        <app-pastille-categorie [categorie]="idee._categorie"></app-pastille-categorie>
    </div>
</mat-card-header>
<img mat-card-image [src]="idee._image" [routerLink]="['/idea', idee._id]" routerLinkActive="router-link-active" />
<mat-card-content [routerLink]="['/idea', idee._id]" routerLinkActive="router-link-active">
    <div [innerHtml]="idee._content"></div>
</mat-card-content>
<mat-card-actions>
    <app-bar-icons-idee [openComment]='openComment'></app-bar-icons-idee>
    <app-bouton-collaborateur></app-bouton-collaborateur>
</mat-card-actions>