mat-card-header {
    width: 100%;
}

mat-card-title {
    cursor: pointer;
}

img {
    cursor: pointer;
}

mat-card-content{
    cursor: pointer;
}


.more-button {
    float: right;
}


app-pastille-categorie {
    float: right;

}