<mat-dialog-content class="mat-typography">
    <div>
        <h3 mat-dialog-title>Liste des Collaborateurs</h3>
    </div>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">


        <mat-card *cdkVirtualFor="let item of membreService.membres; templateCacheSize: 0" class="example-item">
            <mat-card-header>
                <img mat-card-avatar [src]="item._profilePic" class="profilPic">
                <mat-card-subtitle>{{item._pseudo}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </cdk-virtual-scroll-viewport>


    <!--    <ul *ngFor="let item of collaborateurList">
        <li>
            <img src="{{item.img}}"> {{item.pseudo}}
        </li>
    </ul>-->

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>