mat-card-title {
    width: max-content;
}

.myCardTitle {
    position: absolute;
    top: 0px;
    left: 5px;
}

.more-button {
    position: absolute;
    top: 0px;
    right: 0px;
}

img {
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    left: 0px;
}

.ideaContent{
    padding-left:10px;
}

app-pastille-categorie{
    position: absolute;
    top: 5px;
    right: 50px;

}