<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Responsive Navigation</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" mat-button>Top</a>
        <a href="#" mat-button>Link</a>
        <a href="#" mat-button>Zelda</a>
        <a href="#" mat-button>Ganondorf</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav style="width:200px;">
      <mat-nav-list>
        <a href="#" mat-list-item>Side</a>
        <a href="#" mat-list-item>Link</a>
        <a href="#" mat-list-item>Zelda</a>
        <a href="#" mat-list-item>Ganondorf</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>