<div #container class="grid-container" infiniteScroll (scrolled)="onScrollDown()" (scroll)="windowScrolled = true"
    [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="scrollThrottle" [scrollWindow]="false">
    <div *ngFor="let idee of displayedIdees; let i =index">
        <mat-card *ngIf="i!=0 && i%2==0" class="dashboard-card">
            <mat-icon> attach_money</mat-icon>
            <mat-icon>euro_symbol</mat-icon>
            Ceci est une merveilleuse bannière de publicité servant à financer le site.
            <mat-icon>euro_symbol</mat-icon>
            <mat-icon> attach_money</mat-icon>
        </mat-card>
        <mat-card class="dashboard-card" tabindex="i">
            <app-idea-post [idee]='idee'></app-idea-post>
        </mat-card>
    </div>
</div>
<button mat-mini-fab (click)="toTop(container)" color="primary" class="scroll-to-top"
    [ngClass]="{'show-scroll-to-top': windowScrolled}">
    <mat-icon> vertical_align_top</mat-icon>
</button>