<mat-card-header>
    <mat-card-title>{{idee._titre}}</mat-card-title>
    <mat-card-subtitle class="subtitle-pseudo" [routerLink]="['/profil', idee._originalPosteur._id]"
        routerLinkActive="router-link-active">
        {{idee._originalPosteur._pseudo}}</mat-card-subtitle>
    <div fxFlex>
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Masquer</button>
        </mat-menu>
        <app-pastille-categorie [categorie]="idee._categorie"></app-pastille-categorie>

    </div>
</mat-card-header>
<img mat-card-image [src]="idee._image" />

<mat-card-content>
    {{idee._content}}
    <p>Et et veniam pariatur elit ipsum do. Laboris commodo Lorem incididunt amet id deserunt in. Nostrud quis
        non ullamco aute laboris nisi dolore esse officia laborum anim amet et pariatur.</p>
    <p>Nisi officia consectetur ex ad reprehenderit consectetur. Excepteur sunt in enim anim quis esse deserunt
        culpa elit mollit culpa. Consectetur duis aute ut voluptate laborum consequat voluptate cillum dolor
        deserunt eu in enim. Consequat reprehenderit labore aliqua laborum sit aute commodo. Sunt enim commodo
        exercitation mollit fugiat qui ipsum deserunt. Eu Lorem non commodo nostrud officia tempor ipsum
        proident aliqua enim culpa cillum nostrud.</p>
    <p>Magna enim consequat irure elit sint aute sint esse exercitation ea reprehenderit. Consequat exercitation
        exercitation do dolor laboris laboris tempor quis incididunt. Id pariatur veniam laboris mollit do ipsum
        culpa reprehenderit occaecat mollit cupidatat laborum nulla ut. Proident veniam consequat amet labore
        officia irure irure. Labore quis cupidatat culpa culpa incididunt. Exercitation dolor amet officia
        mollit.</p>
    <p>Cillum dolore ipsum ea tempor do eu elit quis reprehenderit consequat anim esse mollit proident.
        Adipisicing excepteur irure anim cillum sint do quis ullamco nostrud. Dolor est commodo eiusmod ex
        laborum eu dolor magna quis ullamco est adipisicing qui culpa. Commodo ad velit culpa irure anim. Id
        deserunt qui et sit enim culpa velit minim mollit. In proident aute occaecat et.</p>
    <p>Et et veniam pariatur elit ipsum do. Laboris commodo Lorem incididunt amet id deserunt in. Nostrud quis
        non ullamco aute laboris nisi dolore esse officia laborum anim amet et pariatur.</p>
    <p>Nisi officia consectetur ex ad reprehenderit consectetur. Excepteur sunt in enim anim quis esse deserunt
        culpa elit mollit culpa. Consectetur duis aute ut voluptate laborum consequat voluptate cillum dolor
        deserunt eu in enim. Consequat reprehenderit labore aliqua laborum sit aute commodo. Sunt enim commodo
        exercitation mollit fugiat qui ipsum deserunt. Eu Lorem non commodo nostrud officia tempor ipsum
        proident aliqua enim culpa cillum nostrud.</p>
    <p>Magna enim consequat irure elit sint aute sint esse exercitation ea reprehenderit. Consequat exercitation
        exercitation do dolor laboris laboris tempor quis incididunt. Id pariatur veniam laboris mollit do ipsum
        culpa reprehenderit occaecat mollit cupidatat laborum nulla ut. Proident veniam consequat amet labore
        officia irure irure. Labore quis cupidatat culpa culpa incididunt. Exercitation dolor amet officia
        mollit.</p>
    <p>Cillum dolore ipsum ea tempor do eu elit quis reprehenderit consequat anim esse mollit proident.
        Adipisicing excepteur irure anim cillum sint do quis ullamco nostrud. Dolor est commodo eiusmod ex
        laborum eu dolor magna quis ullamco est adipisicing qui culpa. Commodo ad velit culpa irure anim. Id
        deserunt qui et sit enim culpa velit minim mollit. In proident aute occaecat et.</p>
</mat-card-content>
<mat-card-actions>
    <app-bar-icons-idee></app-bar-icons-idee>
</mat-card-actions>