<mat-card *ngIf="membre !== null" class="profil-card">
    <mat-card-header>
        <img mat-card-avatar [src]="membre._profilePic" class="profilPic">
        <mat-card-title>{{membre._pseudo}}</mat-card-title>
        <mat-card-subtitle>This is a subtitle : suplementary info could be found here</mat-card-subtitle>
    </mat-card-header>
    <!--  <mat-card-content class="profil-desc">
        
    </mat-card-content>
-->
    <mat-card-actions class="profil-actions">
        <button mat-button>
            <mat-icon>add</mat-icon>
        </button>
        <button mat-button>
            <mat-icon>message</mat-icon>
        </button>
        <button mat-button>
            <mat-icon>share</mat-icon>
        </button>
        <button mat-button>
            <mat-icon>block</mat-icon>
        </button>
    </mat-card-actions>
    <mat-divider></mat-divider>
    <mat-tab-group dynamicHeight mat-stretch-tabs>
        <mat-tab label="Postes">
            <app-idee-list *ngIf="idees.length == 0" [ideesList]="idees"></app-idee-list>
        </mat-tab>
        <mat-tab label="Commentaires"> <code>Historique commentaires</code> </mat-tab>
        <mat-tab label="Likes"> <code>(Perso) Historique idées likées</code> </mat-tab>
        <mat-tab label="Collaborations"> <code>(Perso) Historique en tant que collaborateurs</code> </mat-tab>
    </mat-tab-group>
</mat-card>