<form [formGroup]="creationIdeeForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="card-ajouter-idee">
    <mat-card-header>
      <mat-card-title>Poster une idee</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <strong><input matInput placeholder="Titre" formControlName="titre"></strong>
            <mat-error *ngIf="creationIdeeForm.controls['titre'].hasError('required')">
              Le titre est <strong>requis</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">

            <mat-select placeholder="Categorie" formControlName="categorie">
              <mat-option *ngFor="let categorie of categorieService.pastille" [value]="categorie">
                {{categorie._categorie}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="creationIdeeForm.controls['categorie'].hasError('required')">
              La catégorie est <strong>requise</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Image URL : https://123exemple.com/image" formControlName="_image">
          </mat-form-field>
        </div>
      </div>
      <ckeditor class="ckeditor-idee" formControlName="description" [editor]="Editor" (keyup)="onUpdate($event)" [config]="{
              toolbar: ['heading','|', 'bold', 'italic','link', 'bulletedList', 'numberedList','|',  'blockQuote','MediaEmbed','undo','redo' ],
             placeholder: 'Taper une description ici ...'
             }"></ckeditor>

      <p>Nombre de Caracteres : {{lengthOfDescription}}</p>
      <p>Seul les 512 premiers carateres seront affichés dans l'aperçu.</p>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Poster</button>
    </mat-card-actions>
  </mat-card>
</form>