<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="card-ajouter-idee">
    <mat-card-header>
      <mat-card-title>Poster une idee</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <strong><input matInput placeholder="Titre" formControlName="titre"></strong>
            <mat-error *ngIf="addressForm.controls['titre'].hasError('required')">
              Le titre est <strong>requis</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Image URL : https://123exemple.com/image" formControlName="imageURL">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" id="textArea">
            <textarea matInput placeholder="Description/contenu de l'idée" formControlName="contenu"></textarea>
            <mat-error *ngIf="addressForm.controls['contenu'].hasError('required')">
              Le contenu est <strong>requis</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>